{
    "ext": {
        "pdb": {
            "colorscheme": "{{ user_powerline_colorscheme }}"
        },
        "shell": {
            "colorscheme": "{{ user_powerline_colorscheme }}"
        },
        "tmux": {
            "colorscheme": "{{ user_powerline_colorscheme }}"
        },
        "vim": {
            "colorscheme": "{{ user_powerline_colorscheme }}"
        },
        "wm": {
            "colorscheme": "{{ user_powerline_colorscheme }}"
        }
    }
}
